body { background-color: #39002d; }

.content {
    max-width: 640px;
    margin: 15px auto;
    padding: 0 15px;

    transition: margin .2s ease-in-out;
}

@media (min-width: 700px) {
    .content { margin: 30px auto; }
}

.content form {
    background-color: #fafafa;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(150,150,150, .2);

    padding: 30px;

    transition: box-shadow .2s ease-in-out;
}

.content form:hover { box-shadow: 0 5px 10px rgba(100,100,100, .2); }

.page-header,
.page-header h1 {
    border: 0;
    padding: 0;
    margin: 0;
}

.page-header { margin-bottom: 10px; }

.page-header h1 {
    color: #e5b449;
    font-size: 24px;
}

.page-header h1 small { color: #f5e3bc; }

/* input */
.input-group-addon {
    border-radius: 3px 0 0 3px;
    text-align: center;
    padding: 10px 16px;
    min-width: 47px;
}

.form-control {
    border-radius: 0 3px 3px 0;
    padding: 10px 16px;
}

.form-control:not(textarea) { height: auto; }

.form-control:hover,
.form-control:focus { border-color: #39002d; }

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0, .075),
                0 0 8px rgba(57,0,45, .6);
}

/* btn */
.btn {
    border-radius: 3px;
    padding: 10px 16px;
}

.btn-primary {
    background-color: #39002d;
    border-color: #200019;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #e5b449;
    border-color: #e2aa32;
    color: #fff;
}